.form{
	.input-field,
	textarea{
		display: block;
		appearance: none;
		border: 0;
		box-shadow: none;
		border-radius: 0;
		transition: all var(--t);
		height: 42px;
		width: 100%;
		font-family: var(--main-font);
		font-size: 14px;
		color: #fff;
		background: transparent;
		border-bottom: 1px solid #505777;
		padding: 0;

		&:focus{
			outline: none;
			border-bottom-color: #fff;
		}

		// &.error{
		// 	border-bottom-color: var(--primary);
		// }

		&::placeholder{
			opacity: 1;
			color: var(--text-color);
		}
	}

	textarea{
		resize: none;
		padding: 15px 0;
		height: 100px;
		display: block;
	}

	.form-note{
		font-size: 16px;
		line-height: 1.2;
		font-weight: 400;
	}

	.wpcf7-list-item{
		margin: 0;
	}

	p{
		margin-bottom: 0;
	}

	@media screen and (max-width: 575px){
		.form-note{
			text-align: center;
			font-size: 14px;
		}
	}
}

.checkbox{
	position: relative;

	input{
		~ .fake-label{
			padding-right: 34px;
			position: relative;
			font-size: 16px;
			line-height: 21px;
			font-family: var(--second-font);
			color: var(--text-color);
			cursor: pointer;
			display: block;

			&:before,
			&:after{
				content: '';
				display: block;
				width: 21px;
				height: 21px;
				position: absolute;
				right: 0;
				top: 0;
				transition: all var(--t);
			}

			&:before{
				border: 1px solid #323C49;
				background: transparent;
				border-radius: 2px;
			}

			&:after{
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath d='m8.22 2.95-.39.38C6.77 4.36 5.65 5.53 4.6 6.57L3.13 5.4l-.42-.33-.7.81.42.34L4.28 7.7l.39.3.34-.33c1.17-1.14 2.44-2.48 3.59-3.6l.38-.37-.76-.75Z' fill='%23323C49'/%3E%3C/svg%3E") no-repeat center center / contain;
				opacity: 0;
			}

			.dark-scope &{
				color: #F8FAFF;

				&:before{
					border: 1px solid var(--primary);
					background: #2C3540;
					box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.08);
				}

				&:after{
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cpath d='m8.22 2.95-.39.38C6.77 4.36 5.65 5.53 4.6 6.57L3.13 5.4l-.42-.33-.7.81.42.34L4.28 7.7l.39.3.34-.33c1.17-1.14 2.44-2.48 3.59-3.6l.38-.37-.76-.75Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
				}
			}
		}

		&:checked{
			~ .fake-label{
				&:before{
					.dark-scope &{
						background: var(--text-color);
					}
				}

				&:after{
					opacity: 1;
				}
			}
		}
	}
}